.main-logo {
  width: 3rem;
  height: 3rem;
  margin: 0 auto;
  display: block;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;

  .nav-logo {
    display: none;
  }

  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    .nav-link {
      color: white;
      text-decoration: none;
      font-size: 1.2rem;
      font-weight: 100;
      transition: all 0.3s ease;
      text-decoration: none;
      padding: 0 1rem;
      &:hover {
        color: #f1c40f;
        letter-spacing: 0.1rem;
      }
    }
  }
}
